.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto;
  background-color: black;
}

.homeContainer {
  max-width: 36rem;
  padding: 1rem;
  margin: 0rem auto;
  background-color: black;
}

.header {
  display: flex;
  flex-direction: column;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.headerToolbar {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: 20px;
  margin-right: 40px;
}

.backToHome {
  margin: 3rem 0 0;
}

.footer {
  display: flex;
}