.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;

  color: #ddd;
}

.headingXl {
  font-size: 2rem;
  margin: 1rem 0 0 0;
  color: #ddd;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #bbb;

}

.heading {
  font-size: 1rem;
  line-height: 1.5;
  color: #bbb;
}

.subHeading {
  font-size: 0.8rem;
  color: #aaa;
  margin: 0
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.paddingTop {
  padding-top: 0.1rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #999;
}

.footerLink {
  color: #555;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
